// creating a css variable of our colors

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --primary-color: #A4FFAF;
    --light-black: #6a6a6a;
    --dim-black: #000000;
    --md-color: #F9CD69;
    --green-color: #38b000;
    --red-color: #d90429;
    
}

